a,
b,
body,
button,
dd,
div,
dl,
dt,
em,
footer,
h1,
h2,
h3,
h4,
h5,
header,
html,
i,
img,
input,
li,
ol,
p,
select,
span,
strong,
textarea,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none
}

input {
  outline: none;
}


.page {
  position: absolute;
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

a {
  font-size: 10px;
}